DebugMode = true
Verbose = true
Difficulty = "normal"
Gamemode = "survival"
MOTD = "A JungleTree Server"
MaxOnlinePlayers = 20

[JavaEdition]
OnlineMode = false

[Network]
IP = ""
NetworkCompressionThreshold = 256
Port = 25565
